<div class="row">
  <div class="col-md-12">
    <input class="form-control input-lg" placeholder="Github username" ng-model="userRepos.user.username" ng-change="userRepos.onUsernameChange()" ng-model-options='{ debounce: 500 }'>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th class="col-md-2"></th>
            <th class="col-md-8">Repo</th>
            <th class="col-md-2">Stars</th>
          </tr>
        </thead>
      </table>
    </div>
    <div spinner spinner-name="userRepos.spinnerName" background-class="opaque">
      <div class="bodycontainer scrollable">
        <table class="table table-hover table-striped table-condensed table-scrollable">
          <tbody>
            <tr ng-repeat="repo in userRepos.user.repos | orderBy : '-stargazers_count'">
              <th scope="row" class="col-md-2">{{$index+1}}</th>
              <td class="col-md-8"><a ng-href="{{repo.url}}" target="_blank">{{repo.name}}</a></td>
              <td class="col-md-2">{{repo.stargazers_count}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="row padding-top-10" ng-show="userRepos.user.repos.length > 0">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-12">
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span> Average stars: {{userRepos.user.stats.mean | number: 1}}
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span> Total stars: {{userRepos.user.stats.sum}}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row padding-top-10" ng-show="userRepos.user.status != 'undetermined'">
      <div class="col-md-12">
        <div class="alert" role="alert" ng-class="{'alert-success': userRepos.user.status == 'winner', 'alert-info': userRepos.user.status == 'draw'}">{{userRepos.user.status == 'winner' ? 'Winner' : 'Its a draw!'}}</div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h5 class="text-center">{{userRepos.message}}</h5>
      </div>
    </div>
  </div>
</div>